@use "vars";

$bg1: #00030a;
$bg2: #181825;
$bg3: #1e1e2e;

$text: #cdd6f4;
$blue: #89b4fa;

* {
    font-family: "FantasqueSansM Nerd Font";
}

.bar{
    background: rgba($bg1, 0.6);
    border-bottom: 1px solid rgba(#71788e, 0.7);
}

.datetime-box{
    padding: 4px 8px;
    .time-label {
        font-weight: 500;
        color: white;
    }
}

.workspaces-box {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-right: 1px solid white; 
}

.text-white {
  color: white;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 8px;
}

.pl-3 {
  padding-left: 12px;
}

